# Project exclude paths
/AccountsSystem/bin/
/ArrayListExercises/bin/
/Circles/bin/
/DateValidator/bin/
/Diagram/bin/
/DrawCar/bin/
/FlagsAndPatterns/bin/
/Greeter/bin/
/HigherLower/bin/
/ImageProcessing/bin/
/LibraryManagement/bin/
/ListMatching/bin/
/ListProcessing/bin/
/Lollipop/bin/
/Loops/bin/
/NamesNumbers/bin/
/StudentsCourses/bin/
/Teams/bin/
/UnitConverter/bin/
/WaveformAnalyser/bin/